#{extends 'main.html' /}
#{set title:'floier' /}
<div id="maincontent">
<div id="main">  	
	<div class="box_con">
		<div class="product">			
		   <dl>
			<dt>
				<a href="#"><img src="@{'/public/images/product1.jpg'}" width=360px height="275px" /></a>
			</dt>
			<dd><a href="#" class="isEnter"><strong>如何选择欧式窗帘,欧式窗帘效果图欣赏</strong></a>更新时间：2013-10-24 13:48:00</dd>
			<dd class="keys">关键字：
			<a href="#" class="keycontent">铝合金百叶窗</a>
			<a href="#" class="keycontent">中式窗帘</a>
			<a href="#" class="keycontent">欧式窗帘</a>			</dd>
			<dd class="des">
			<a href="#" class="intro">一般欧式窗帘被分为两种，一种是复古欧式窗帘和现代简约欧式窗帘窗帘和现代简约欧式窗帘，那么如何选择欧式窗帘呢...</a>
			<a href="#" class="show">详情 >></a>			</dd>
			<dd>
			<div class="titlebox">
				<span>相关图片</span>			</div>
			</dd>
			<dd>
			<div class="listbox">				
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product11.jpg'}" width=135px height=100px /></a></div>
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product12.jpg'}" width=135px height=100px /></a></div>	
			</div>
			</dd>
		  </dl>		 
		</div>
		
		<div class="product">			
		   <dl>
			<dt><a href="#"><img src="@{'/public/images/product2.jpg'}" width=360px height="275px" /></a></dt>
			<dd><a href="#" class="isEnter"><strong>如何选择欧式窗帘,欧式窗帘效果图欣赏</strong></a>更新时间：2013-10-24 13:48:00</dd>
			<dd class="keys">关键字：
			<a href="#" class="keycontent">铝合金百叶窗</a>
			<a href="#" class="keycontent">中式窗帘</a>
			<a href="#" class="keycontent">欧式窗帘</a>			</dd>
			<dd class="des">
			<a href="#" class="intro">一般欧式窗帘被分为两种，一种是复古欧式窗帘和现代简约欧式窗帘窗帘和现代简约欧式窗帘，那么如何选择欧式窗帘呢...</a>
			<a href="#" class="show">详情 >></a>			</dd>
			<dd>
			<div class="titlebox">
				<span>相关图片</span>			</div>
			</dd>
			<dd>
			<div class="listbox">				
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product21.jpg'}" width=135px height=100px /></a></div>
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product22.jpg'}" width=135px height=100px /></a></div>	
			</div>
			</dd>
		  </dl>		 
		</div>
		
		<div class="product">			
		   <dl>
			<dt><a href="#"><img src="@{'/public/images/product3.jpg'}" width=360px height="275px" /></a></dt>
			<dd><a href="#" class="isEnter"><strong>如何选择欧式窗帘,欧式窗帘效果图欣赏</strong></a>更新时间：2013-10-24 13:48:00</dd>
			<dd class="keys">关键字：
			<a href="#" class="keycontent">铝合金百叶窗</a>
			<a href="#" class="keycontent">中式窗帘</a>
			<a href="#" class="keycontent">欧式窗帘</a>			</dd>
			<dd class="des">
			<a href="#" class="intro">一般欧式窗帘被分为两种，一种是复古欧式窗帘和现代简约欧式窗帘窗帘和现代简约欧式窗帘，那么如何选择欧式窗帘呢...</a>
			<a href="#" class="show">详情 >></a>			</dd>
			<dd>
			<div class="titlebox">
				<span>相关图片</span>			</div>
			</dd>
			<dd>
			<div class="listbox">				
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product31.jpg'}" width=135px height=100px /></a></div>
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product32.jpg'}" width=135px height=100px /></a></div>	
			</div>
			</dd>
		  </dl>		 
		</div>
		
		<div class="product">			
		   <dl>
			<dt><a href="#"><img src="@{'/public/images/product4.jpg'}" width=360px height="275px" /></a></dt>
			<dd><a href="#" class="isEnter"><strong>如何选择欧式窗帘,欧式窗帘效果图欣赏</strong></a>更新时间：2013-10-24 13:48:00</dd>
			<dd class="keys">关键字：
			<a href="#" class="keycontent">铝合金百叶窗</a>
			<a href="#" class="keycontent">中式窗帘</a>
			<a href="#" class="keycontent">欧式窗帘</a>			</dd>
			<dd class="des">
			<a href="#" class="intro">一般欧式窗帘被分为两种，一种是复古欧式窗帘和现代简约欧式窗帘窗帘和现代简约欧式窗帘，那么如何选择欧式窗帘呢...</a>
			<a href="#" class="show">详情 >></a>			</dd>
			<dd>
			<div class="titlebox">
				<span>相关图片</span>			</div>
			</dd>
			<dd>
			<div class="listbox">				
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product41.jpg'}" width=135px height=100px /></a></div>
				<div class="boxPic"><a href="#" target="_blank"><img src="@{'/public/images/product42.jpg'}" width=135px height=100px /></a></div>	
			</div>
			</dd>
		  </dl>		 
		</div>
		
	</div>
</div>

<div class="side">
	<div class="side_box">
    <div class="side_box_header">
	    <a href="#" target="_blank" title="更多" class="more">更多&gt;&gt;</a>
	  	<span><strong>热门</strong>订购</span>
	  </div>	  
    <div class="productList">
		 <ul class="product_rank">
			<li><span>6189</span><a href="#">窗帘</a></li>
			<li><span>3244</span><a href="#">窗帘布</a></li>
			<li><span>3186</span><a href="#">窗帘布批发</a></li>
			<li><span>1531</span><a href="#">窗帘批发</a></li>
			<li><span>1105</span><a href="#">成品窗帘</a></li>
			<li><span>1055</span><a href="#">遮光窗帘</a></li>
			<li><span>600</span><a href="#">雪尼尔窗帘布</a></li>
			<li><span>568</span><a href="#">柯桥窗帘布</a></li>
			<li><span>556</span><a href="#">窗帘成品</a></li>
			<li><span>536</span><a href="#">高档窗帘</a></li>
		</ul>    
	  </div>
	</div>
	<div class="side_box">
  	
    <div class="side_box_header">
  	  <a href="#" target="_blank" title="更多" class="more">更多&gt;&gt;</a>
	    <span><strong>产品</strong>列表</span>
		
	  </div>	  
    <div class="productList">
		 <ul class="product_rank">
			<li><span>6189</span><a href="#">窗帘</a></li>
			<li><span>3244</span><a href="#">窗帘布</a></li>
			<li><span>3186</span><a href="#">窗帘布批发</a></li>
			<li><span>1531</span><a href="#">窗帘批发</a></li>
			<li><span>1105</span><a href="#">成品窗帘</a></li>
			<li><span>1055</span><a href="#">遮光窗帘</a></li>
			<li><span>600</span><a href="#">雪尼尔窗帘布</a></li>
			<li><span>568</span><a href="#">柯桥窗帘布</a></li>
			<li><span>556</span><a href="#">窗帘成品</a></li>
			<li><span>536</span><a href="#">高档窗帘</a></li>
		</ul>    
	  </div>
	</div>
	<div class="side_box">
    <div class="side_box_header"><span><strong>联系</strong>我们</span></div>	  
    <div class="contactus">
		 <dl class="contact">
		 <dt>公司地址：</dt><dd>广州市海珠区东晓南路二街  华岭家纺城A区1楼1110号</dd>
		 <dt>联系人：</dt>
		 <dd>13711045378(刘女士)18664811219（刘小姐）</dd>
		 <dt>TEL：</dt><dd>020-26292609</dd>
		 <dt>Http：</dt>
		 <dd>www.floier.com</dd>
		 <dt>E-Mail：</dt>
		 <dd>floiergz@hotmail.com</dd>
		 <dt>QQ：</dt>
		 <dd>2698944259</dd>
		 </dl>   
	  </div>
	</div>	
		
		
</div>

</div>