<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>主页</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/picExchange.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/picExchange.js"></script>
<style type="text/css">
<!--
.STYLE1 {color: #333333}
-->
</style>
</head>

<body>
<div id="container">
<div id="header"><img src="images/header.jpg" class="logoright"/> </div>
<div id="nav">
<div class="nav_main">
  <ul>
	<li><a href="#"><span>首页</span></a></li>
	<li><a href="#"><span>产品展示</span></a></li>
	<li><a href="#"><span>企业简介</span></a></li>
	<li><a href="#"><span>设计案例</span></a></li>
	<li><a href="#"><span>企业历史</span></a></li>
	<li><a href="#"><span>网上下单</span></a></li>
	<li><a href="#"><span>联系我们</span></a></li>
  </ul>
</div>      
</div>
<div class="clearfloat"></div>
<div class="flash">
<div id="player">
	<ul class="Limg">
	<li><a href="#" target="_blank"><img src="images/expic1.jpg"/><p>弗罗亚布艺 </p></a></li>
	<li><a href="#" target="_blank"><img src="images/expic2.jpg"/><p>弗罗亚布艺</p></a></li>
	<li><a href="#" target="_blank"><img src="images/expic3.jpg"/><p>弗罗亚布艺</p></a></li>
	<li><a href="#" target="_blank"><img src="images/expic4.jpg"/><p>弗罗亚布艺</p></a></li>
	</ul>
	<cite class="Nubbt"><span class="on">1</span><span >2</span><span >3</span><span >4</span></cite> 
</div>
<script language=javascript type="text/javascript">
var player1 = new player('player').init();
</script>
</div>
<div id="maincontent">
  <div id="main">  	
	<div class="box_con">
		<div class="productPic">
		    <div class="side_box_header">
			  <span class="home"></span>当前位置：
			  <a href="/" target="_blank">弗罗亚</a><span>></span>
			  <a href="#" target="_blank">热门订购</a><span>></span>
			</div>	  
			<div class="productPic_list">
				<ul>
				  <li><a href="#"><img src="images/productDesPic/psb1.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb2.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb3.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb4.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb5.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb6.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb1.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb2.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb3.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb4.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb5.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  <li><a href="#"><img src="images/productDesPic/psb6.jpg" alt="弗罗亚" width="200" height="260" />产品名称</a></li>
				  
				</ul>
			</div>
		</div>
		
	</div>
  </div>
  
  <div class="side">
  	<div class="side_box">
      <div class="side_box_header">
	    <a href="#" target="_blank" title="更多" class="more">更多&gt;&gt;</a>
	  	<span><strong>热门</strong>订购</span>
	  </div>	  
      <div class="productList">
		 <ul class="product_rank">
			<li><span>6189</span><a href="#">窗帘</a></li>
			<li><span>3244</span><a href="#">窗帘布</a></li>
			<li><span>3186</span><a href="#">窗帘布批发</a></li>
			<li><span>1531</span><a href="#">窗帘批发</a></li>
			<li><span>1105</span><a href="#">成品窗帘</a></li>
			<li><span>1055</span><a href="#">遮光窗帘</a></li>
			<li><span>600</span><a href="#">雪尼尔窗帘布</a></li>
			<li><span>568</span><a href="#">柯桥窗帘布</a></li>
			<li><span>556</span><a href="#">窗帘成品</a></li>
			<li><span>536</span><a href="#">高档窗帘</a></li>
		</ul>    
	  </div>
	</div>
	<div class="side_box">
    	
      <div class="side_box_header">
    	  <a href="#" target="_blank" title="更多" class="more">更多&gt;&gt;</a>
	    <span><strong>产品</strong>列表</span>
		
	  </div>	  
      <div class="productList">
		 <ul class="product_rank">
			<li><span>6189</span><a href="#">窗帘</a></li>
			<li><span>3244</span><a href="#">窗帘布</a></li>
			<li><span>3186</span><a href="#">窗帘布批发</a></li>
			<li><span>1531</span><a href="#">窗帘批发</a></li>
			<li><span>1105</span><a href="#">成品窗帘</a></li>
			<li><span>1055</span><a href="#">遮光窗帘</a></li>
			<li><span>600</span><a href="#">雪尼尔窗帘布</a></li>
			<li><span>568</span><a href="#">柯桥窗帘布</a></li>
			<li><span>556</span><a href="#">窗帘成品</a></li>
			<li><span>536</span><a href="#">高档窗帘</a></li>
		</ul>    
	  </div>
	</div>
	<div class="side_box">
      <div class="side_box_header"><span><strong>联系</strong>我们</span></div>	  
      <div class="contactus">
		 <dl class="contact">
		 <dt>公司地址：</dt><dd>广州市海珠区东晓南路二街  华岭家纺城A区1楼1110号</dd>
		 <dt>联系人：</dt>
		 <dd>13711045378(刘女士)18664811219（刘小姐）</dd>
		 <dt>TEL：</dt><dd>020-26292609</dd>
		 <dt>Http：</dt>
		 <dd>www.floier.com</dd>
		 <dt>E-Mail：</dt>
		 <dd>floiergz@hotmail.com</dd>
		 <dt>QQ：</dt>
		 <dd>2698944259</dd>
		 </dl>   
	  </div>
	</div>	
		
		
  </div>
  
</div>
<div class="clearfloat"></div>
<div id="footer"><dl>
    <dt><a href="#">关于我们</a>　||　<a href="#">产品目录</a>　||　<a href="#">联系我们</a>　||　<a href="#">友情链接</a>　||　<a href="#">反馈问题</a>　||　<a href="#">广告合作</a></dt>
      <dd>版权所有：弗罗亚窗帘<br/>
	  电话：13711045378,020-36052213&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：2698944259<br />
      地址：广州市海珠区东晓南路二街  华岭家纺城A区1楼1110号 E-mail：floiergz@hotmail.com<br/>
	  </dd>
    </dl>
</div>
</div>
</body>
</html>
