<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>图片切换</title>
<link href="css/picExchange.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/picExchange.js"></script>
</head>
<body>
<h1>none-jquery picture</h1>
<div id="player">
	<ul class="Limg">
	<li><a href="#" target="_blank"><img src="images/banner114.jpg"/><p>宣传新专辑与徐静蕾合作很紧张 </p></a></li>
	<li><a href="#" target="_blank"><img src="images/banner_ad.jpg"/><p>尚雯婕为演唱会携天价古董拍海报</p></a></li>
	<li><a href="#" target="_blank"><img src="images/banner_best.gif"/><p>爸妈齐助阵周杰伦2010年新专辑MV</p></a></li>
	<li><a href="#" target="_blank"><img src="images/banner_green.gif"/><p>阿朵唱功遭质疑撩裙露臀卖肉博眼球</p></a></li>
	</ul>
	<cite class="Nubbt"><span class="on">1</span><span >2</span><span >3</span><span >4</span></cite> 
</div>
<script language=javascript type="text/javascript">
var player1 = new player('player').init();
</script>
<br />
<table width="100%"  cellpadding="0" cellspacing="0" border="1">
 <thead>
     <th align="center" width="20%">全选</th>
        <th align="left">邮箱地址</th>
        <th align="right" width="30%">操作</th>
    </thead>
    <tr>
     <td align="right"><input type="checkbox" checked="checked" /></td>
        <td align="left">service@139.com</td>
        <td align="right"><a href="#">删除</a>  <a href="#">修改</a> </td>
    </tr>
  <tr>
     <td align="right"><input type="checkbox" checked="checked" /></td>
        <td align="left">webmaster@139.com</td>
        <td align="right"><a href="#">删除</a>  <a href="#">修改</a> </td>
    </tr>
</table>
</body>
</html>
